DATABASE_URL="postgresql://user:password@ep-sample-host.region.aws.neon.tech/neondb?sslmode=require"
BETTER_AUTH_SECRET="your-32-char-random-secret-key"
BETTER_AUTH_URL="https://triocore.vercel.app"
ADMIN_ALLOWED_EMAILS="founder1@gmail.com,founder2@gmail.com"
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
RESEND_API_KEY="re_sample_api_key"
FORMSPREE_ENDPOINT="https://formspree.io/f/your_formspree_id"
NEXT_PUBLIC_APP_URL="https://triocore.vercel.app"
